<h1>Form</h1>
<form method="POST" action="/new" >
    <p>Name: <input type="text" name="name"></p>
    <p>Message: <input type="text" name="message"></p>
    <p><input type="submit" value="Submit"></p>
 </form>
 